body {background-color: black;}

h1 {
    border: 2px #eee solid;
    color: white;
    text-align: center;
    padding: 10px;
}

p {
    color: white;
    font-family:monospace;
    font-size: 17px;
}

.button {
  width: 100px;
  height: 20px;
  border: none;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#key{
  width: 400px;
  height: 20px
}

footer {
    position:fixed;
    text-align: center;
    bottom:0px;
    font-size: 12px;
    width:100%;
    color: white;
    font-family:monospace;
}

a:link{
  color:grey;
}

img {

}
