<!DOCTYPE html>
<html>
  <head>
    <title>Am I secure?</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <center>
    <img src="{{url_for('static', filename='icon2.jpg')}}" width="250" height="166.66" /><br><br><br><br>
    <p>Welcome to Swati Corporation IP API login page. <br><br>
      Please enter your API key to access:</p>
    </center>
    <form method="POST">
    <center>
    <input type="text" name="key">
    <input type="submit" value="Submit">
    </center>
    </form>
    <footer>
      Copyright by Swati Corporation. All Rights Reserved.<br>
        Developed by <a href="https://www.linkedin.com/in/ibrahimswati">Ibrahim Swati</a> @ Swati Corporation US
    </footer>

    </body>
    </html>
