<!DOCTYPE html>
<html>
  <head>
    <title>Am I secure?</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <center>
      <img src="{{url_for('static', filename='icon2.jpg')}}" width="250" height="166.66" /><br><br><br><br>
      </center>
      <p>IP passed in header is: {{ip}}</p>
      <p>IP address passed to IPstack after removing remote address: {{ip_api}}</p>
      <p>IPstack data with header is: {{stack_ip}}, {{stack_city}}, {{stack_zip}}</p>
      <p>IPstack data with check is: {{stackip}}, {{stackcity}}, {{stackzip}}</p>
      <footer>
        Copyright by Swati Corporation. All Rights Reserved.<br>
          Developed by <a href="https://www.linkedin.com/in/ibrahimswati">Ibrahim Swati</a> @ Swati Corporation US
      </footer>
    </body>
    </html>
